<article class="media">
    <figure class="media-left">
        <p class="image is-48x48">
        <img src= {{ avatar }}>
        </p>
    </figure>
    <div class="media-content">
        <div class="content">
        <p>
            <i>By: <span class="userUsername">{{username}} </span></i> on {{dateTime}}
            <br><span class="postedText"> {{ answerText }} </span><br>
            <small><a>{{ answerTag }}</a> · </small>

        </p>
        </div>

    </div>
</article>