<article class="media">
    <figure class="media-left">
        <p class="image is-48x48">
        <img src= {{ avatar }}>
        </p>
    </figure>
    <div class="media-content">
        <div class="content">
        <p>
            {{!-- Displaying answer contents --}}
            <em><span class="userUsername" data-user={{answerUserId}}><a>{{answerUsername}}</a></span></em> Posted on {{dateTime}}
            <br><span class="postedText"> {{{answerText}}} </span>
        </p>
        </div>
    </div>
</article>