<article class="media">
    <figure class="media-left">
        <p class="image is-48x48">
        <img src= {{ avatar }}>
        </p>
    </figure>
    <div class="media-content">
        <div class="content">
        <p>
            <i>By: {{'User.email'}} </i> on {{updatededAt}}
            <br> {{ answerText }} <br>
            <small><a>{{ answerTag }}</a> · <a>Reply</a> · {{ timestamp }}</small>
        </p>
        </div>

    </div>
</article>