<article class="media">
    <figure class="media-left">
        <p class="image is-48x48">
        <img src= {{ avatar }}>
        </p>
    </figure>
    <div class="media-content">
        <div class="content">
        <p>
            <em>By: <span class="userUsername" data-user={{userId}}><a>{{username}}</a></span></em> on {{dateTime}}
            <br><span class="postedText"> {{{answerText}}} </span>
        </p>
        </div>
    </div>
</article>