{{!-- if we use an avatar --}}
{{!-- <figure class="media-left">
    <p class="image is-64x64">
    {{!-- <img src= {{ avatar }} >  --}}
{{!-- </p>  --}}
{{!-- </figure> --}}
<div class="card question">

<article class="media" data-id={{id}}>
    <div class="media-content">
        <div class="content">
            <p>
                <em>By: <span class="userUsername">{{'User.username'}}</span></em> on {{updatedAt}}
                <br> {{questionText}} <br>
                <span class="tag is-dark">{{questionTag}}</span> |
                <a class="viewReplies">View Replies</a> |
                <a class="showReplyForm">Reply</a>
            </p>
        </div>
        <div class="replyForm" id=replyForm{{id}} style="display:none">
            <form id="questionForm">
                <div class="field">
                    <div class="control">
                        <textarea id=answerText{{id}} class="textarea is-primary"
                            placeholder="Your response..."></textarea>
                    </div>
                    <br>
                    <button type="submit" class="button is-primary">Submit</button>
                    <br>
                </div>
            </form>
        </div>
        <article class="repliesContainer media" id=repliesContainer{{id}} style="display:none">
            No replies yet
            {{!-- {{#each answers}}
            {{> answers/answer_block}}
            {{/each}} --}}
            <a class="hideReplies">Hide Replies</a>
        </article>

    </div>


</article>
</div>

{{!-- Stephanie's  styling--}}
{{!-- <div class= "card question">
  <article class="media">
    <div class="media-content">
      <div class="content">
        <p id="question">
          <i>By: <span class="userUsername">{{'User.username'}}</span> </i> on {{updatedAt}}
          <br> {{questionText}} <br>
          <a class="tag">{{questionTag}}</a> · <small><a>Replies</a> "timestamp" </small>

        </p>
      </div>

      <div class="comment">
        <article class="media">
          <div class="media-content">
            <div class="field">
              <div class="control">
                <textarea id="questionText" class="textarea is-primary" placeholder="Add a comment ..."></textarea>
              </div>
              <br>
              <button class="button is-primary" id="postComment">Post comment</button>
              <br>
            </div>
          </div>
        </article>
      </div>
      
    </div>
  </article>
</div>
 --}}
