
{{!-- if we use an avatar --}}
<figure class="media-left">
    <p class="image is-64x64">
    <img src= {{ avatar }} > 
    </p>
</figure>

<div class="media-content">
    <div class="content">

        <p>
            <strong> {{ userId }} </strong>
            <br> {{ questionText }} <br>
            <small><a>{{ questionTag }}</a> · <a>Replies</a> · {{timestamp}}</small>
        </p>
    
    </div>
</div>
